pkg
src/github.com
pkg/darwin_amd64/github.com/howeyc/fsnotify.a
src/ctail/ctail
src/ctail/lol.txt
src/ctail/ok.txt
src/github.com/howeyc/fsnotify/
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
src
ctail
*/*.test
*/*.txt
*.txt
tags
